.contacts-container {
    h2{ 
        margin-bottom: 30px;
    }
}

.form-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 15px;
    padding-bottom: 40px;
    
        @include respond-to('tablet') {
            padding-bottom: 50px;
        }

        @include respond-to('laptop') {
            padding-bottom: 60px;
        }

    label {
        font-size: 14px;
        color: $dark-blue;
        margin-bottom: 7px;
    }

    input {
        color: $dark-blue;
        border: 1px solid $dark-blue;
        border-radius: 15px;
        margin-top: 5px;
        height: 35px;
        width: 250px;
        cursor: default;
        outline: none;
        padding-left: 10px;
    }
    
    input:focus {
        border: 2px solid $dark-blue;

    }

    textarea {
        color: $dark-blue;
        border: 1px solid $dark-blue;
        border-radius: 15px;
        margin-top: 5px;
        height: 85px;
        width: 250px;
        cursor: default;
        outline: none;
        padding-left: 10px;
    }
    
    textarea:focus {
        border: 2px solid $dark-blue;
    }
}

.error {
    font-size: 10px;
    color: rgb(233, 126, 126);
    padding: 7px 0 5px 10px;
}