.header {

    &.active {
        .nav-holder{
            opacity: 1;
            visibility: visible;
        }

        .nav-opener{
            span {
                opacity: 0;
                visibility: hidden;
            }

            &::before{
                transform: rotate(45deg);
                top: 14px;
            }

            &::after{
                transform: rotate(-45deg);
                bottom: 15px;
            }
        }
    }
}

.header-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    font-family: $poppins, sans-serif;
    text-align: center;
    background: $mobileheader;
    border-bottom: 1px solid $dark-blue;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @include respond-to('laptop') {
        background: white;
        border-bottom: none;
    }
}

.nav-holder {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 85px 20px 20px 20px;
    top: 0;
    left: 0;
    right: 0;
    background: $gradient;
    height: 100vh;
    z-index: 1;
    transition: all ease-in-out 0.3;

    @include respond-to('tablet') {
        opacity: 1;
        visibility: visible;
        position: static;
        padding: 0;
        height: auto;
        background: transparent;
    }

    .nav-list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        flex-direction: column;

        @include respond-to('tablet') {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    .nav-item {
        margin: 0 0 35px;

        @include respond-to('tablet') {
            margin: 0 15px 0;

            &:last-of-type {
                padding-right: 0;
            }
        }
    }

    .nav-link {
        color: $dark-blue;
        font-weight: 600;
        font-size: 18px;
        display: block;

        &:hover {
            color: $yellow;
            border: 1px solid $dark-blue;
            border-radius: 15px;
            padding: 7px 10px;
        }
    }
}

.nav-opener {
    background-color: transparent;
    border: none;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 2;

    @include respond-to('tablet') {
        display: none;
    }

    &::before,
    &::after,
    span {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 1px;
        background-color: $dark-blue;
        transition: all ease-in-out 0.3;
    }

    &::before{
        top: 0;
    }

    &::after{
        bottom: 0;
    }

    span {
        top: 50%;
        transform: translateY(-50%);
    }
}

// .header {
//     padding-bottom: 20px;

//     @include respond-to('tablet') {
//         padding: 20px 0 30px 0;
//     }
// }

// .header-container {
//     display: flex;
//     flex-wrap: nowrap;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     position: relative;
//     background: $mobileheader;
//     border-bottom: 1px solid $dark-blue;

//     @include respond-to('laptop') {
//         background: white;
//         border-bottom: none;
//     }
// }

// // .opened-mob-header {
//     .nav-holder{
//         opacity: 1;
//         visibility: visible;
//         background: $gradient;
//         height: 100vh;
//         width: 100vw;
//     }

//     // .logo-holder {
//     //     opacity: 0;
//     //     visibility: hidden;
//     // }

//     .nav-opener{
//         span {
//             opacity: 0;
//             visibility: hidden;
//         }

//         &::before{
//             transform: rotate(45deg);
//             top: 14px;
//         }

//         &::after{
//             transform: rotate(-45deg);
//             bottom: 15px;
//         }
//     }
// // }

// // .closed-mob-header {
//     .nav-holder {
//         opacity: 0;
//         visibility: hidden; 
//         position: absolute;
//         padding: 85px 20px 20px 20px;
//         top: 0;
//         left: 0;
//         right: 0;
//         background: $gradient;
//         height: 100vh;
//         z-index: 1;
//         transition: all ease-in-out 0.3;

//         @include respond-to('tablet') {
//             opacity: 1;
//             visibility: visible;
//             position: static;
//             padding: 0;
//             height: auto;
//             background: transparent;
//         }
//     }

//     .nav-list {
//         padding: 0;
//         margin: 0;
//         list-style: none;
//         display: flex;
//         flex-wrap: wrap;
//         align-self: center;
//         flex-direction: column;

//         @include respond-to('tablet') {
//             display: flex;
//             flex-wrap: wrap;
//             flex-direction: row;
//             align-items: center;
//         }
//     }

//     .nav-opener {
//         background-color: transparent;
//         border: none;
//         position: relative;
//         width: 30px;
//         height: 30px;
//         z-index: 2;

//         @include respond-to('tablet') {
//             display: none;
//         }
    
//         &::before,
//         &::after,
//         span {
//             content: '';
//             position: absolute;
//             width: 100%;
//             left: 0;
//             height: 1px;
//             background-color: $dark-blue;
//             transition: all ease-in-out 0.3;
//         }
    
//         &::before{
//             top: 0;
//         }
    
//         &::after{
//             bottom: 0;
//         }
    
//         span {
//             top: 50%;
//             transform: translateY(-50%);
//         }
//     } 
    
//     .nav-item {
//         margin: 0 0 35px;

//         @include respond-to('tablet') {
//             margin: 0 15px 0;

//             &:last-of-type {
//                 padding-right: 0;
//             }
//         }
//     }

//     .nav-link {
//         color: $dark-blue;
//         font-weight: 600;
//         font-size: 18px;
//         display: block;

//         &:hover {
//             color: $yellow;
//             border: 1px solid $dark-blue;
//             border-radius: 15px;
//             padding: 7px 10px;
//         }
//     }  
// // }
