.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: $dark-blue;
    margin: 20px 0 30px 0;

    @include respond-to('tablet') {
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

.text-section-hero {
    max-width: 300px;
    margin-bottom: 25px;

    @include respond-to('tablet') {
        max-width: 400px;
        width: 45%;
        margin-bottom: 0;
    }
}

.img-section-hero {
    @include respond-to('tablet') {
        width: 40%;
    }
}

h1 {
    font-size: 36px;
    line-height: 46px;
    padding: 0;
    margin: 0 0 20px 0;

    @include respond-to( 'laptop') {
        font-size: 38px;
    }
}

.text-holder {
    font-size: 20px;
    line-height: 34px;

    @include respond-to( 'laptop') {
        font-size: 24px;
    }
}

.img-holder {
    max-width: 500px;

    img {
        border-radius: 50%;
    }
}

.main-section {
    padding-bottom: 25px;

    @include respond-to('tablet') {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 50px;
    }

    @include respond-to('laptop') {
        padding-bottom: 70px;
    }
}

.sidebar-section {
    display: none;

    @include respond-to('tablet') {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        width: 25%;
        border-right: 1px solid $grey;
        margin-right: 20px; 

        @include respond-to('laptop') {
            width: 20%;
        }
    }

    h3 {
        text-align: start;
    }

    .btn {
        padding: 12px 23px;
        font-size: 15px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid $dark-blue;
        box-shadow: none;
        display: block;
        text-align: start;

        &:hover{
            font-size: 17px;
            box-shadow: none;
        }
    }
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 20px;

    &:last-of-type{
        padding-bottom: 30px;
    }
}

.filter-list input {
    display: none;
}

.filter-list label:first-of-type {
    margin-right: 20px;
}

.filter-list label {
    position: relative;
    display: block;
    display: inline-block;
    padding-left: 30px;

    &:hover {
        text-decoration: underline;
    }
}

label .spanradio {
    position: absolute;
    border: 1px solid $dark-blue;
    border-radius: 300px;
    left: 0px;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.filter-list input:checked + label .spanradio::before {
    content: '';
    background: white;
    border: 5px solid $yellow;
    border-radius: 300px;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.all-dogs-section {

    @include respond-to('tablet') {
        width: 72%;
    }

    @include respond-to('laptop') {
        width: 77%;
    }

}

.list-all-dogs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

    @include respond-to('tablet') {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    @include respond-to('laptop') {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card-each-dog {
    border: 1px solid $grey;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    line-height: 20px;

    &:hover {
        box-shadow: 2px 5px 15px $dark-blue;
        transform: scale(1.01);
    }

    .threats {
        font-weight: 550;
    }

    .name-dogs {
        display: block;
        font-size: 20px;
        font-weight: 550;
        color: $dark-blue;
        padding-bottom: 15px;
    }

    .img-dogs {
        margin: 0 auto;
        max-width: 250px;
        max-height: 250px;
        padding-bottom: 10px;
    }

    .gender-dogs,
    .age-dogs,
    .weight-dogs {
        font-size: 14px;
    }
}