$poppins: 'poppins';
$black: #000000;
$dark-blue: #14213D;
$yellow: #FCA311;
$mobileheader:rgba(252, 163, 17, 0.84);
$grey: #E5e5e5;
$white: #ffffff;
$gradient: -webkit-linear-gradient(-45deg, rgba(252,163,17,1) 0%,rgba(229,229,229,1) 55%,rgba(229,229,229,1) 72%,rgba(20,33,61,1) 99%);
